<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:replace="fragments :: html_head">
    <body>
    	<div th:replace="fragments :: menu"></div>
		<div class="container text-center">
		    <div th:switch="${orders}">
		    	<h2 th:case="null">No orders yet!</h2>
		    	<h2>Orders</h2>
		        <div th:replace="fragments :: show_orders">
		        </div>
		    </div>
		</div>
		<div th:replace="fragments :: menu_bug"></div>
	</body>
</html>