<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:replace="fragments :: html_head">
	<body>
		<div th:replace="fragments :: menu"/></div>
		<div class="container text-center" align="center">
		<!-- <div class="container"> -->
		    <div th:switch="${orders}">
		    	<div th:replace="fragments :: show_alert_message"></div>
		    	<h2 th:case="null">No orders yet!</h2>
		    	
		        <table  th:case="*" class="table table-striped table-bordered">
		            <thead class="thead-dark">
		            	<tr>
		            		<th colspan="16"><h2>All Orders</h2></th>
		            	</tr>
		                <tr>
		                    <th style="color: orange;">Edit Order</th>
		                    <th>Name of Guide</th>
		                    <th>Head Count</th>
		                    <th>Bread Quantity</th>
		                    <th>Achar Quantity</th>
		                    <th>Jam Quantity</th>
		                    <th>Puri Quantity</th>
		                    <th>Thepla Quantity</th>
		                    <th>Roti Quantity</th>
		                    <th>Other items</th>
		                    <th>Order Status</th>
		                    <th>Order date</th>
		                    <th>Date of departure</th>
		                    <th>Meal retrieval Date</th>
		                    <th>Food Pickup Slot</th>
		                    <th>Operations</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr th:each="order: ${orders}">
		                    <td><a th:href="@{/admin/order/edit/{orderId}(orderId=${order.orderId})}" th:text="${order.orderId}"></a></td>
		                    <td><a th:href="@{/admin/user/view/{userId}(userId=${order.user.userId})}" th:text="${order.user.nameOfGuide}"></a></td>
		                    <td th:text="${order.headCount}">Head Count</td>
		                    <td th:text="${order.bread}">Bread Count</td>
		                    <td th:text="${order.achar}">Achar Quantity</td>
		                    <td th:text="${order.jam}">Jam Quantity</td>
		                    <td th:text="${order.puri}">Puri Quantity</td>
		                    <td th:text="${order.thepla}">Thepla Quantity</td>
		                    <td th:text="${order.roti}">Roti Quantity</td>
		                    <td th:text="${order.items}">Other Items</td>
		                     <td th:text="${order.orderStatus}">Items is removed</td>
		                    <td th:text="${order.dateOfOrderPlaced}">Date at which Order placed</td>
		                    <td th:text="${order.dateOfDeparture}">Departure date</td>
		                    <td th:text="${order.mealRetrievalDate}">Meal retrieval date</td>
		                    <td th:text="${order.mealRetrievalTime}">Food Pickup Slot</td>
		                    <td>
		                    	<a th:unless="${order.orderStatus!='PLACED'}" th:href="@{/admin/order/delivered/{orderId}(orderId=${order.orderId})}">Delivered</a>&nbsp;&nbsp;&nbsp;
		                    	<a th:unless="${order.orderStatus!='PLACED'}" th:href="@{/admin/order/delete/{orderId}(orderId=${order.orderId})}">Cancel</a>&nbsp;&nbsp;&nbsp;
		                    </td>		                    		                    
		                </tr>
		            </tbody>
		        </table>
				<div th:replace="fragments :: show_paginated">
				</div>
		</div>
		<div th:replace="fragments :: menu_bug"></div>
	</body>
</html>