<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments :: html_head"/>
	<body style="background-image:url('images/Baba3.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
		<div th:replace="fragments :: menu"/></div>
			<div class="container text-center">
			    <div th:switch="${orders}">
			    	<div th:replace="fragments::show_alert_message"></div>
			    	<h2 th:case="null">No orders yet!</h2>
			    	<div th:case="*" class="table-responsive-sm">
				    	<h2>Orders</h2>
				        <table  class="table-striped table-bordered">
					   		<thead class="thead-dark">
				                <tr>
				                    <th>Edit Order</th>
				                    <!-- <th>Name of Guide</th> -->
				                    <th>Head Count</th>
				                    <th>Bread Quantity</th>
				                    <th>Achar Quantity</th>
				                    <th>Jam Quantity</th>
				                    <th>Puri Quantity</th>
				                    <th>Thepla Quantity</th>
				                    <th>Roti Quantity</th>
				                    <th>Special items</th>
				                    <th>Order date(YYYY-MM-DD HH:MM:ss)</th>
				                    <th>Departure date(YYYY-MM-DD)</th>
				                    <th>Meal retrieval Date(YYYY-MM-DD)</th>
				                    <th>Order Status</th>
				                    <th>Food Pickup Slot</th>
				                    <th>Cancel/Deliver Orders</th>
				                </tr>
				            </thead>
				            <tbody>
				                <tr th:each="order:${orders}">
				                    <td><a th:href="@{/edit/{orderId}(orderId=${order.orderId})}"  th:text="${order.orderId}"></a></td>
				                   	<!-- <td><a th:href="@{/admin/user/view/{userId}(userId=${order.user.userId})}" th:text="${order.user.nameOfGuide}"></a></td> -->
				                    <td th:text="${order.headCount}">Head Count</td>
				                    <td th:text="${order.bread}">Bread Count</td>
				                    <td th:text="${order.achar}">Achar Quantity</td>
				                    <td th:text="${order.jam}">Jam Quantity</td>
				                    <td th:text="${order.puri}">Puri Quantity</td>
				                    <td th:text="${order.thepla}">Thepla Quantity</td>
				                    <td th:text="${order.roti}">Roti Quantity</td>
				                    <td th:text="${order.items}">Other Items</td>
				                    <td th:text="${order.dateOfOrderPlaced}">Date at which Order placed</td>
				                    <td th:text="${order.dateOfDeparture}">Date at which Order placed</td>
				                    <td th:text="${order.mealRetrievalDate}">Departure date</td>
				                    <td th:text="${order.orderStatus}"></td>
				                    <td th:text="${order.mealRetrievalTime}">Food Pickup Slot</td>
				                    <td>
				                    	<a th:unless="${order.orderStatus!='PLACED'}" th:href="@{/delete/{orderId}(orderId=${order.orderId})}">Cancel</a>&nbsp;&nbsp;
				                    	<a th:unless="${order.orderStatus!='PLACED'}" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/order/delivered/{orderId}(orderId=${order.orderId})}">Delivered</a>&nbsp;
				                    </td>		                    		                    
				                </tr>
				            </tbody>
			            </table>
						<div th:replace="fragments :: show_paginated">
						</div>
				    </div>    
			    </div>
			</div>
			<div th:replace="fragments :: menu_bug"></div>
	</body>
</html>