<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments :: html_head"/>
	<body style="background-image:url('images/Baba3.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
		<div th:replace="fragments :: menu"/></div>
		<div class="container text-center">
			<div th:replace="fragments :: show_alert_message"></div>
		    <div>
		        <h1>List of Special Items</h1>
		    </div>
		     
		    <div>
		        <table class="table table-striped table-bordered">
		            <thead class="thead-dark">
		                <tr>
		                    <th>Item ID</th>
		                    <th>Special Items</th>
		                    <th>Date of Order</th>
		                    <th>Serving Date</th>
		                    <th>Serving Slot</th>
		                    <th>Operations</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr th:each="item: ${items}">
		                    <td th:text="${item.id}">Item ID</td>
		                    <td th:text="${item.specialItems}">Serving Items</td>
		                    <td th:text="${item.dateOfOrder}">Date of Order</td>
		                    <td th:text="${item.servingDate}">Serving Date</td>
		                    <td th:text="${item.servingSlot}">Serving Slot</td>
		                    <td>
		                    	<a th:href="@{/admin/specialItem/edit/{id}(id=${item.id})}">Edit</a>&nbsp;&nbsp;&nbsp;
		                    	<a th:href="@{/admin/specialItem/delete/{id}(id=${item.id})}">Delete</a>&nbsp;&nbsp;&nbsp;
		                    </td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
		</div>
		<div th:replace="fragments :: menu_bug"></div>
	</body>
</html>