<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments :: html_head"/>
	<body style="background-image:url('images/Baba5.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
		<div th:replace="fragments :: menu"></div>
		<script>new WOW().init();</script>
		<header>
          <!-- Full Page Intro -->
          <div class="view">
            <!-- Mask & flexbox options-->
            <div class="mask rgba-black-light align-items-center">
              <!-- Content -->
              <div class="container">
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-12 mb-4 white-text text-center">
                    <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s"><strong>Brahmakumaris Journeyfood</strong></h1>
                    <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                    <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Photography & design</strong></h5>
                    <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">portfolio</a>
                    <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">About me</a>
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->
              </div>
              <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
          </div>
          <!-- Full Page Intro -->
        </header>
        <!--Main Layout-->
        <main>
          <div class="container">
            <!--Grid row-->
            <div class="row py-5">
              <!--Grid column-->
              <div class="col-md-12 text-center">
                <p>Brahma Bhojan includes foods that are light and healthy. sattvic foods are thought to increase energy, happiness, calmness, and mental clarity. In practice, that means eating things that are vegetarian, nutritious, fresh, and tasty.</p>
                <table class="table table-striped table-bordered">
		            <thead class="thead-dark">
		            	<tr>
		            		<th colspan="2"><h2>Food Pickup Timing</h2></th>
		            	</tr>
		                <tr>
		                    <th>Slot</th>
		                    <th>Timing</th>
		                    
		                </tr>
		            </thead>
		            <tbody>
		                <tr>
		                    <td>Morning</td>
		                    <td>08:00 AM to 10:00 AM</td>
		                </tr>
		                <tr>
		                    <td>Afternoon</td>
		                    <td>01:00 PM to 02:00 PM</td>
		                </tr>
		                <tr>
		                    <td>Evening</td>
		                    <td>08:00 PM to 09:00 PM</td>
		                </tr>		                		                
		            </tbody>
		        </table>
                </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
        </main>
        <!--Main Layout-->
	    <div th:replace="fragments :: menu_bug"></div>
	</body>
</html>