<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments :: html_head">
	<body style="background-image:url('images/Baba3.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
	<div th:replace="fragments :: menu"/></div>
		<form onsubmit="return checkForm();" th:action="@{/resetPassword}" method="post" style="max-width: 350px; margin: 0 auto;">
		    <input type="hidden" name="token" th:value="${token}" />
			<div class="border border-secondary rounded p-3">
				<h2>Reset Your Password</h2>
				<div class="alert alert-danger" id="cnfPwdError" role="alert" >Confirm password is not same as you new password.</div>
				<div class="alert alert-danger" id="allFieldsAreMandatory" role="alert" >All Fields Are Required.</div>
			    <div>
			    	 <div class="form-group">
	                    <label for="password">Enter New Password</label>
					    <input type="password" name="password" id="password" class="form-control"  placeholder="Enter new password" required autofocus />
	                </div>
			        <div class="form-group">
	                    <label for="cnfPassword">Confirm New Password</label>
					    <input type="password" class="form-control" id="cnfPassword" name="cnfPassword" placeholder="Confirm new password" required autofocus />
	                </div>         
			        <p class="text-center">
			            <input type="submit" id="sbmtBtn" value="Change Password" class="btn btn-primary" />
			            <input type="reset" id="resetBtn" value="Reset Password" onclick="resetForm()" class="btn btn-danger" />
			        </p>
			    </div>
			</div>
		</form>
		<script type="text/javascript">
	    window.onload = function() {
	    	document.getElementById("allFieldsAreMandatory").style.display ='none';
        	document.getElementById('cnfPwdError').style.display = 'none';
    	};
		function resetForm(){
	        var newP=document.getElementById("password").value="";
	        var confirmP =document.getElementById("cnfPassword").value="";
		}
		function checkForm(){
		    var newP=document.getElementById("password").value;
		    var confirmP =document.getElementById("cnfPassword").value;
		    if(newP!=""&&confirmP!="")
		    {	
		        if(newP==confirmP){
		        	document.getElementById("allFieldsAreMandatory").style.display ='none';
		        	document.getElementById('cnfPwdError').style.display = 'none';
		        	document.getElementById('sbmtBtn').disabled=true;
		          	return true;
		         }
		         else
		          {  document.getElementById('cnfPwdError').style.display = 'block';
	        		 document.getElementById('sbmtBtn').disabled=false;
		       	     return false;
		          }
		    }
		    else
		    {
		    	document.getElementById("allFieldsAreMandatory").style.display ='block';
		    	document.getElementById('sbmtBtn').disabled=true;
		     return false;
		    }
		}
		</script>
		<div th:replace="fragments :: menu_bug"></div>
	</body>
</html>