<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments :: html_head">
    <body>
    	<div th:replace="fragments :: menu"></div>
 		<div class="container text-center">
		    <div th:switch="${orders}">
		    	<h2 th:case="null">No orders yet!</h2>
		    	<div th:case="*" class="table-responsive-sm">
			    	<h2>Orders</h2><a th:href="@{/admin/orders/totalPlacedOrders/export/excel/{date}(date=${date})}">Export to excel</a>
			        <table  class="table table-striped table-bordered">
			            <thead class="thead-dark">
			            	<tr>
			                    <th>Edit Order</th>
			                    <th>Head Count</th>
			                    <th>Bread Quantity</th>
			                    <th>Achar Quantity</th>
			                    <th>Jam Quantity</th>
			                    <th>Puri Quantity</th>
			                    <th>Thepla Quantity</th>
			                    <th>Roti Quantity</th>
			                    <th>Other items</th>
			                    <th>Meal retrieval Date</th>
			                    <th>Order Status</th>
			                    <!-- <th>Food Pickup Slot</th> -->
			                    <th>Cancel/Deliver Orders</th>
			                </tr>
			            </thead>
			            <tbody>
			            	<tr th:each="order: ${orders}">
			                    <td><a th:href="@{/admin/order/edit/{orderId}(orderId=${order.orderId})}"  th:text="${order.orderId}"></a></td>
			                    <td th:text="${order.headCount}">Head Count</td>
			                    <td th:text="${order.bread}">Bread Count</td>
			                    <td th:text="${order.achar}">Achar Quantity</td>
			                    <td th:text="${order.jam}">Jam Quantity</td>
			                    <td th:text="${order.puri}">Puri Quantity</td>
			                    <td th:text="${order.thepla}">Thepla Quantity</td>
			                    <td th:text="${order.roti}">Roti Quantity</td>
			                    <td th:text="${order.items}">Other Items</td>
			                    <td th:text="${order.mealRetrievalDate}">Meal retrieval date</td>
			                    <td th:text="${order.orderStatus}"></td>
			                    <td>
			                    	<a th:href="@{/admin/order/delete/{orderId}(orderId=${order.orderId})}">Cancel</a>
			                    	<a th:href="@{/admin/order/delivered/{orderId}(orderId=${order.orderId})}">Deliver</a>&nbsp;&nbsp;&nbsp;
			                    </td>		                    		                    
			                </tr>
							<tr>
								<td><b>Total</b></td>
			                    <td th:text="${total.totalHeadCount}">Head Count</td>
			                    <td th:text="${total.totalBread}">Bread Count</td>
			                    <td th:text="${total.totalAchar}">Achar Quantity</td>
			                    <td th:text="${total.totalJam}">Jam Quantity</td>
			                    <td th:text="${total.totalPuri}">Puri Quantity</td>
			                    <td th:text="${total.totalThepla}">Thepla Quantity</td>
			                    <td th:text="${total.totalRoti}">Roti Quantity</td>
			                    <td colspan="6" th:text="${total.mealRetrievalDate}">Meal retrieval date</td>
			                </tr>
			            </tbody>
			        </table>
			    </div>    
		    </div>
		</div>
		<div th:replace="fragments :: menu_bug"></div>
	</body>
</html>