<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Update User</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
        <div class="container my-5">
            <h2 class="mb-5">Update User</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/update/{id}(id=${journeyFoodOrder.id})}" th:object="${journeyFoodOrder}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="nameOfCenter" class="col-form-label">Name</label>
                                <input type="text" th:field="*{nameOfCenter}" class="form-control" id="nameOfCenter" placeholder="Name of Center">
                                <span th:if="${#fields.hasErrors('nameOfCenter')}" th:errors="*{nameOfCenter}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="nameOfGuide" class="col-form-label">Email</label>
                                <input type="text" th:field="*{nameOfGuide}" class="form-control" id="email" placeholder="Name of Guide">
                                <span th:if="${#fields.hasErrors('nameOfGuide')}" th:errors="*{nameOfGuide}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="headCount" class="col-form-label">Name</label>
                                <input type="number" th:field="*{headCount}" class="form-control" id="headCount" placeholder="No of head counts">
                                <span th:if="${#fields.hasErrors('headCount')}" th:errors="*{headCount}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dateOfJourney" class="col-form-label">Email</label>
                                <input type="text" th:field="*{dateOfJourney}" class="form-control" id="dateOfJourney" placeholder="Date of Journey">
                                <span th:if="${#fields.hasErrors('dateOfJourney')}" th:errors="*{dateOfJourney}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dateOfDeparture" class="col-form-label">Name</label>
                                <input type="text" th:field="*{dateOfDeparture}" class="form-control" id="dateOfDeparture" placeholder="Date Of Departure">
                                <span th:if="${#fields.hasErrors('dateOfDeparture')}" th:errors="*{dateOfDeparture}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="mealRetrievalTime" class="col-form-label">Email</label>
                                <input type="text" th:field="*{mealRetrievalTime}" class="form-control" id="mealRetrievalTime" placeholder="Meal retrieval Time">
                                <span th:if="${#fields.hasErrors('mealRetrievalTime')}" th:errors="*{mealRetrievalTime}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Update Order">
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>