<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments :: html_head"/>
	<body>
	<div th:replace="fragments :: menu"/></div>
	    	<div class="container">
			    <div class="row">
			        <form th:action="@{/admin/user/update/{id}(id=${user.userId})}" th:object="${user}" method="post" style="max-width: 600px; margin: 0 auto;">
				        <div class="alert alert-danger" th:text="${message}" th:unless="${message==null}" role="alert"></div>
					        <div class="m-3">
					            <div class="form-group row">
					                <label class="col-4 col-form-label">User Id: </label>
					                <div class="col-8">
					                    <input type="text" th:field="*{userId}" readonly class="form-control" required />
					                </div>
					            </div>
					            <div class="form-group row">
					                <label class="col-4 col-form-label">Name of Center: </label>
					                <div class="col-8">
					                    <input type="text" th:field="*{nameOfCenter}" class="form-control" required />
										<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nameOfCenter')}" th:errors="*{nameOfCenter}"></div>
					                </div>
					            </div>
					            <!-- <div class="form-group row" sec:authorize="hasRole('ADMIN')">
					                <label class="col-4 col-form-label">Roles for user: </label>
					                <div class="col-8">
					                    <input type="text" th:field="*{roles}" readonly class="form-control" required />
										<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nameOfCenter')}" th:errors="*{nameOfCenter}"></div>
					                </div>
					            </div> -->
					            <div class="form-group row">
					                <label class="col-4 col-form-label">Name of Guide: </label>
					                <div class="col-8">
					                    <input type="text" th:field="*{nameOfGuide}" class="form-control" required minlength="2" maxlength="20"/>
										<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nameOfGuide')}" th:errors="*{nameOfGuide}"></div>
					                </div>
					            </div>
				
					            <div class="form-group row">
					                <label class="col-4 col-form-label">Zone Name : </label>
					                <div class="col-8">
					                    <input type="text" th:field="*{zone}" class="form-control" required />
										<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('zone')}" th:errors="*{zone}"></div>
					                </div>
					            </div>
				
					            <div class="form-group row">
					                <label class="col-4 col-form-label">City/Sub-Zone name: </label>
					                <div class="col-8">
					                    <input type="text" th:field="*{subZone}" class="form-control" required />
										<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('subZone')}" th:errors="*{subZone}"></div>
					                </div>
					            </div>
				
					            <div class="form-group row">
					                <label class="col-4 col-form-label">Pincode/Zipcode : </label>
					                <div class="col-8">
					                    <input type="number" th:field="*{pincode}" class="form-control" value="0" required />
										<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('pincode')}" th:errors="*{pincode}"></div>
					                </div>
					            </div>	            
				
					            <!-- <div class="form-group row">
					                <label class="col-4 col-form-label">E-mail : </label>
					                <div class="col-8">
					                    <input type="email" th:field="*{email}" readonly class="form-control" required />
					                </div>
					            </div> -->
					            
					             <div class="form-group row">
					                <label class="col-4 col-form-label">Mobile no of Guide: </label>
					                <div class="col-8">
					                    <input type="text" th:field="*{contactNoOfGuide}" class="form-control" required />
										<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('contactNoOfGuide')}" th:errors="*{contactNoOfGuide}"></div>
					                </div>
					            </div>
					
					            <div>
					                <button type="submit" class="btn btn-primary">Update User</button>
					            </div>
					        </div>
				        </form>
		    </div>
   		 </div>
   		 <div th:replace="fragments :: menu_bug"></div>
	</body>
</html>