<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>User Verification</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body style="background-image:url('images/Baba3.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
	<div class="container text-center">
		<h3>Verification link is expired, please retry.</h3>
	</div>
	<div th:replace="fragments :: menu_bug"></div>
</body>
</html>