<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments :: html_head">
    <body>
    	<div th:replace="fragments :: menu"></div>
		<div class="container" th:switch="${journeyFoodOrders}" >
				    <h2 th:case="null">No Orders yet!</h2>
			        <div th:case="*" class="table-responsive-sm">
						<h2>Journey Food Order</h2>
			            <table class="table table-hover">
			                <thead  class="thead">
			                    <tr>
			                    	<th scope="col">Order Id</th>
			                        <th scope="col">Name of Center</th>
			                        <th scope="col">Name of Guide</th>
			                        <th scope="col">Head count</th>
			                        <th scope="col">Mobile no of Guide</th>
			                        <th scope="col">Date of departure</th>
			                        <th scope="col">Food Pickup Slot</th>
                			        <th scope="col">Thepla quantity</th>
			                        <th scope="col">Puri quantity</th>
			                        <th scope="col">Roti quantity</th>
			                        <th scope="col">Achar(Pickle) quantity</th>
			                        <th scope="col">Jam quantity</th>
			                        <th scope="col">Bread quantity</th>
			                        <th scope="col">Other items quantity</th>
			                    </tr>
			                </thead>
			                <tbody>
				                <tr th:each="journeyFoodOrder : ${journeyFoodOrders}">
				                	<th scope="row" th:text="${journeyFoodOrder.id}"></th>
				                    <td th:text="${journeyFoodOrder.nameOfCenter}"></td>
				                    <td th:text="${journeyFoodOrder.nameOfGuide}"></td>
				                    <td th:text="${journeyFoodOrder.headCount}"></td>
				                    <td th:text="${journeyFoodOrder.contactNoOfGuide}"></td>
				                    <td th:text="${journeyFoodOrder.dateOfDeparture}"></td>
				                    <td th:text="${journeyFoodOrder.mealRetrievalTime}"></td>
				                    <td th:text="${journeyFoodOrder.thepla}"></td>
				                    <td th:text="${journeyFoodOrder.puri}"></td>
				                    <td th:text="${journeyFoodOrder.roti}"></td>
				                    <td th:text="${journeyFoodOrder.achar}"></td>
				                    <td th:text="${journeyFoodOrder.jam}"></td>
				                    <td th:text="${journeyFoodOrder.bread}"></td>
				                    <td th:text="${journeyFoodOrder.items}"></td>                                        
				                    <td><a th:href="@{/edit/{id}(id=${journeyFoodOrder.id})}">Edit</a></td>
				                    <td><a th:href="@{/delete/{id}(id=${journeyFoodOrder.id})}">Delete</a></td>
				                </tr>
				            </tbody>
				        </table>
			   		 </div>      
		</div>
		<div th:replace="fragments :: menu_bug"></div>
	</body>
</html>	
	
